
<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">
   <h4>プロフィール</h4>
     <% if @customers.image.attached? %>
       <%= image_tag customer.image, size: "250x200" %>
     <% else %>
       <%= image_tag 'no_image', size: "250x200" %>
     <% end %>
   <table class="table">
    <tbody>
     <tr></tr>
     <tr>
      <th>name</th>
      <th><%= @customers.name %></th>
     </tr>
    </tbody>
   </table>
   <div class="row">
    <%= link_to edit_customer_path(@customers), class: 'btn btn-outline-secondary btn-block' do %>
    <i class="fas fa-user-cog"></i>
   <% end %>
   </div>
  
  
  </div>

  
  <table class="table table-bordered border-primary">
   <thead>
    <tr>
     <th>お気に入りリスト</th>
    </tr>
   </thead>
   
    <% @favorited_spots.each do |spot| %>
   <tbody>
    <tr>
     <th scope="col"><%= link_to spot.spot_name, spot_path(spot.id) %></th>
     <td><%= spot.address %></td>
    </tr>
    <% end %>
  

  </table>


  <table class="table table-bordered border-primary">
   <thead>
    <tr>
     <th>スポット</th>
     <th>コメント一覧</th>
      <th>編集</th>
    </tr>
   </thead>
    <% current_customer.comments.each do |comment| %>
 　<tbody>
    <tr>
     <th scope="col"><%= comment.spot.spot_name %></th>
     <td><%= comment.review %></td>
      <td><%= link_to "編集", edit_spot_comment_path(comment.spot, comment), class: "btn btn-sm btn-success" %></td>
      <td><%= link_to "削除", spot_comment_path(comment.spot, comment), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
    <% end %>
   </tbody>
  </table>
 </div>
</div>
