
<div class="mypage-container">
 <div class="row">
  <div class="col-lg-4" style="background-color: blue-100;">
   <h4 class="text-center">プロフィール</h4>
   　<div style="text-align: left">
     <% if @customers.image.attached? %>
       <%= image_tag @customers.image, size: "250x200" %>
     <% else %>
       <%= image_tag 'no_image', size: "250x200" %>
     <% end %>
     </div>
   <table class="table">
    <tbody>
     <tr></tr>
     <tr>
      <th>name</th>
      <th><%= @customers.name %></th>
     </tr>
    </tbody>
   </table>
   <div class="row">
    <%= link_to edit_customer_path(@customers), class: 'btn btn-outline-secondary btn-block' do %>
    <i class="fas fa-user-cog"></i>
   <% end %>
   </div>
  </div>

 <div class="col-lg-8">
  <table class="table table-bordered border-primary">
     <h6>お気に入りリスト  <i class="fa-solid fa-heart" style="color: #e31c1c;"></i></h6>
    <% @favorited_spots.each do |spot| %>
   <tbody>
    <tr>
     <th scope="col"><%= link_to spot.spot_name, spot_path(spot.id) %></th>
     <td><%= spot.address %></td>
    </tr>
    <% end %>


  </table>


  <table class="table table-bordered border-primary">
   <h6>コメント一覧  <i class="fa-regular fa-comment-dots"></i></h6>
    <% current_customer.comments.each do |comment| %>
 　<tbody>
    <tr>
     <th scope="col"><%= comment.spot.spot_name %></th>
     <td><%= comment.review %></td>
      <td><%= link_to "編集", edit_spot_comment_path(comment.spot, comment), class: "btn btn-sm btn-success" %></td>
      <td><%= link_to "削除", spot_comment_path(comment.spot, comment), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
    <% end %>
   </tbody>
  </table>
  </div>  
 </div>
</div>
