<% unless @comments.count == 0 %>
<div class = "container">
   <div class="row">
    <div class="comment">
    <strong><%= @spot.spot_name %></strong>の<strong>口コミ</strong>
    <%= link_to "口コミを投稿する", new_spot_comment_path(@spot.id), class: "btn btn-primary btn-lg" %>
    </div>
   </div>
   
    <div class="row">
     <% @comments.each do |comment| %>
      <div class="col-md-3">
        <% if comment.customer.image.attached? %>
           <%= image_tag comment.customer.image, size: "250x200" %>
        <% else %>
           <%= image_tag 'no_image', size: "250x200" %>
        <% end %>
        <p><%= comment.customer.name %></p>
      </div>
      <div class="col-md-6 mb-3">
        <div class=" posts-content">
          <h4 class="mb-3">評価：<%= comment.rate %>点 | <%= comment.review %></h4>

        <div id="star-rate-<%= comment.id %>"></div>
          <script>

          $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#star-rate-<%= comment.id %>');
          if (elem == null) return;

         elem.innerHTML = ""
          let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          half: false,
          readOnly:true,
          score: <%= comment.rate %>,
          };
          raty(elem, opt);
          });
          </script>
        </div>
      </div>
      <div class="col-md-12 edit-button">
        <% if comment.customer == current_customer %>
          <%= link_to '口コミを編集', edit_spot_comment_path(@spot, comment), class:'btn btn-primary' %>
          <%= link_to '口コミを削除', spot_comment_path(comment.spot, comment), method: :delete, class:'btn btn-danger' %>
        <% end %>
      </div>
　   <% end %>
　 </div>
　   <div class='p-top__paginate'><%= paginate @comment %></div>
     <% else %>
     <center class="nocomment">
      <%= link_to "口コミを投稿する", new_spot_comment_path(@spot.id), class: "btn btn-primary btn-lg" %><br>
       まだ口コミがありません<br>
       口コミ投稿にご協力ください。<br>
      <%= link_to :back do %>
      <button>Back</button>
      <% end %>
     </center>
     <% end %>
    
</div>
