
<div class="container">
<strong><%= @customer.name %></strong>さんの<strong>会員詳細</strong>
<table class="table table-bordered border-primary">
  <thead>
   <tr>
    <td>会員ID</td>
    <td><%= @customer.id %></td>
   </tr>
   <tr>
    <td>氏名</td>
    <td><%= @customer.name %></td>
   </tr>
   <tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
   </tr>
  <thead>
</table>

<strong>口コミ投稿</strong>
<table class="table table-bordered border-primary">
  <% @customer.comments.each do |comment| %>
  <thead>
   <tr>
    <td><%= comment.spot.spot_name %></td>
    <td><%= comment.review %></td>
    <td><%= link_to '削除', spot_comment_path(comment.spot, comment), class:"btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
  <% end %>
   </tr>
  </thead>
  </table>
  

   <%= link_to :back do %>
      <button>Back</button>
   <% end %>
</div>
