<html>
<body>
<head>
<title>スポット一覧</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
</body>
<%= search_form_for @q do |f| %>

 <%= f.label :genre_id, 'ジャンル' %>
 <%= f.collection_select(:genre_id_eq, Genre.all, :id, :genre_name) %>

 <%= f.label :prefecture_id, '都道府県' %>
 <%= f.collection_select(:prefectures_id_eq, @prefectures, :id, :prefecture_name) %>
 <%= f.submit %>
<% end %>


<div class="container">
<div class="row">
<h5><strong>スポット一覧</strong></h5>
<%= @spots.count %>件
</div>
<div class="row">
<% @spots.each do |spot| %>
  <div class="col-md-3">
    <div>
      <%= link_to spot.spot_name, spot_path(spot) %>
      <% if spot.image.attached? %>
       <%= image_tag spot.image, size: "250x200" %>
      <% else %>
       <%= image_tag 'no_image', size: "250x200" %>
      <% end %>
      <%= spot.address %>
     <td></td>
     <% end %>
    </div>
  </div>

<div class='p-top__paginate'><%= paginate @spot %></div>

</div>
</div>

  
   
