<div class="container">
  <div>
    <h4><strong>スポット一覧<%= @spots_count.count %>件</strong></h4>
  </div>

  <div class="border border-dark">
   <div class="d-flex p-3">
    <i class="fa-solid fa-magnifying-glass"></i><h6>検索</h6>
   </div>

    <%= search_form_for @q do |f| %>
    <div class="form-group row">
      <div class="col-md-6">
		   <label class="search"><%= f.label :genre_id, 'ジャンル' %>
		    <%= f.collection_select(:genre_id_eq, Genre.all, :id, :genre_name) %></label>
  	  </div>
	    <div class="col-md-6">
		   <label class="search"><%= f.label :prefecture_id, '都道府県' %>
		    <%= f.collection_select(:prefectures_id_eq, @prefectures, :id, :prefecture_name) %></label>
	    </div>
    </div>
      <div class="row">
        <div class="col-md-4 mx-auto">
	        <%= f.submit 'この条件で検索する' ,class: "btn btn-success btn-block my-3"%>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% @spots.each do |spot| %>
      <div class="col-md-3 ">
        <%= link_to spot.spot_name.truncate(15), spot_path(spot) %>
        <% if customer_signed_in? %>
        <% if !spot.favorites.exists?(customer_id: current_customer.id) %>
          <%= link_to spot_favorites_path(spot.id), method: :post do %>
            <i class="far fa-heart like-btn" ></i>
          <% end %>
        <% else %>
          <%= link_to spot_favorites_path(spot.id), method: :delete do %>
            <i class="fas fa-heart unlike-btn"></i>
          <% end %>
        <% end %>
        <% end %>
        <p class="image">
        <%= link_to spot_path(spot) do %>
        <% if spot.image.attached? %>
           <%= image_tag spot.image, size: "250x200" %>
        <% else %>
           <%= image_tag '/assets/images/no_image.jpg', size: "250x200" %>
        <% end %>
        <% end %>
        </p>
        <div id="star-<%= spot.id %>"></div>
        <script>
         $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#star-<%=spot.id %>');
          if (elem == null) return;

         elem.innerHTML = ""
          let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          readOnly:true,
          score: "<%= spot.comments.average(:rate) %>"
          };
          raty(elem, opt);
          });
        </script>
        <%= link_to "#{spot.comments.count} コメント", spot_comments_path(spot.id) %><br>
        <%= spot.address %>
      </div>
     <% end %>
  </div>

  <div class='p-top__paginate'><%= paginate @spots %></div>

</div>
