

<div class="container">
 <div class ="row">
   <div class="col-md-6">
     <%= image_tag @spot.image, size: "300x200" %></div>
   <div class="col-md-6">
     <p><%= @spot.spot_name %></p>
     <p><%= link_to "#{@spot.comments.count} コメント", comments_path %></p>
     <p><%= @spot.access %></p>
     <p><%= @spot.business_day %></p>
     <p><%= @spot.address %></p>
     <p><%= @spot.telephone_number %></p>
     <p><%= @spot.facility %></p>
     <p><%= link_to @spot.url, "#{@spot.url}" %></p>
     <%= link_to :back do %>
      <button>Back</button>
     <% end %>
   </div>
 </div>
</div>

