
<div class="spot-container">
 <div class ="row">
   <div class="col-md-4">
     <div style="text-align: right">
     <%= image_tag @spot.image, size: "500x400" %>
     </div>
   </div>
   <div class="col-md-8">
     <%= link_to @spot.spot_name, spot_path(@spot) %>
        <% if !@spot.favorites.exists?(customer_id: current_customer.id) %>
          <%= link_to spot_favorites_path(@spot.id), method: :post do %>
            <i class="far fa-heart like-btn" ></i>
          <% end %>
        <% else %>
          <%= link_to spot_favorites_path(@spot.id), method: :delete do %>
            <i class="fas fa-heart unlike-btn"></i>
          <% end %>
        <% end %>
        <br />

    <div id= "star"></div>
     <p><%= link_to "#{@spot.comments.count} コメント", spot_comments_path(@spot.id) %></p>
   <table>
    <tr>
     <td nowrap>【アクセス】</td>
     <td><%= @spot.access %></td>
    </tr>
    <tr>
     <td nowrap>【住所】</td>
     <td><%= @spot.address %></td>
    </tr>
    <tr>
     <td nowrap>【営業時間】</td>
     <td><%= @spot.business_day %></td>
    </tr>
    <tr>
     <td nowrap>【電話番号】</td>
     <td><%= @spot.telephone_number %></td>
    </tr>
    <tr>
     <td nowrap>【参考情報】</td>
     <td><%= @spot.facility %></td>
    </tr>
    <tr>
     <td nowrap>【URL】</td>
     <td><%= link_to @spot.url, "#{@spot.url}" %></td>
    </tr>
   </table>
      <%= link_to :back do %>
       <button>Back</button>
      <% end %>

   </div>
     
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#star');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          readOnly: true,
          score: "<%= @spot.comments.average(:rate) %>"
        };
        raty(elem, opt);
      });
     </script>

 </div>
</div>

