<html>
<body>
<head>
<title>スポット詳細</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
</body>


<div class="container">

  <div class ="row">
    <div class="col-md-6">
      <%= image_tag @spot.image, size: "300x200" %>
    </div>
     <div class="col-md-6">
    <table>
     <tr>
      <td>スポット名</td>
      <td><%= @spot.spot_name %></td>
     </tr>

    <tr>
      <td>ジャンル</th>
      <td><%= @spot.genre_id %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @spot.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @spot.telephone_number %></td>
    </tr>
    <tr>
      <td>料金</td>
      <td><%= @spot.facility %></td>
    </tr>
    <tr>
      <td>URL</td>
      <td><%= link_to @spot.url, "#{@spot.url}" %></td>
    </tr>
    <tr>
      <td>アクセス</td>
      <td><%= @spot.access %></td>
    </tr>
    <tr>
      <td>営業時間</td>
      <td><%= @spot.business_day %></td>
    </tr>
    </table>
       <%= link_to "編集する", edit_admin_spot_path, :class => "btn btn-success ms-3" %>
       <%= link_to "削除する", admin_spot_path, method: :delete,class: "btn btn-danger ms-3" %>

     </div>
  </div>
</div>